<%- include('adminlayout.ejs'); %> 

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2>REGISTER</h2>
            <div class="card mb-5">
                <div class="card-header">Register Course</div>
                <div class="card-body">

                    <form class="form-horizontal" method="post" action="/registercourse">

                        <div class="form-group">
                            <label for="name" class="cols-sm-2 control-label">Course Name</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" name="coursename" id="name" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="cols-sm-2 control-label">Course Code</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" name="coursecode" id="email" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="cols-sm-2 control-label">Duration</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" name="duration" id="email" />
                                </div>
                            </div>
                        </div>

                        <div class="form-group mt-2 ">
                            <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Register</button>
                        </div>
                    </form>
                    
                </div>
                
            </div>
            <table class="table table-dark table-striped mt-4 text-center">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Code</th>
                    <th scope="col">Duration</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                    <%
                        var i=1;
                        courses.forEach(function (courses) { %>
                  <tr>
                    <th scope="row"><%- i %></th> 
                    <td><%= courses.name %></td>
                    <td><%= courses.code %></td>
                    <td><%= courses.duration %></td>
                    <td>
                        <a href="/edit/<%- courses._id %>" class="btn btn-warning">Edit</a>
                        <a href="/delete/<%- courses._id %>" onclick="return userConfirm()" class="btn btn-warning">Delete</a>
                    </td>
                  </tr>
                  <% i++}) %>
                </tbody>
              </table>
        </div>
    </div>
</div>
<script>
    function userConfirm() {
      var x = confirm("Are you sure");
      if (x == true){
        return true;
      }else{
        return false;
      }
    }
</script>
</body>
</html>